.btn-bordered {
  box-sizing: content-box;
  border: 1px solid #aaaaaa90;
}

a.breadcrumb::before {
  color: currentColor;
}

body {
  background: url('../images/bg_page_3.jpg') no-repeat center center fixed;
  background-size: cover;
}

main {
  background-color: rgba(0, 0, 0, 0.2);
}

footer.page-footer {
  background-color: rgba(0, 0, 0, 0.55);
}

.shadow-text {
  text-shadow: #000000 0 2px 8px;
}
